<!DOCTYPE html>
<html>
<head>
    <title>Οι Μουσικές Μου Λίστες</title>
</head>
<body>
    <h1>Οι Μουσικές Μου Λίστες</h1>

    <form action="/create_playlist" method="post">
        Όνομα Λίστας: <input type="text" name="name" placeholder="Όνομα λίστας">
        <button type="submit">Δημιουργία Λίστας</button>
    </form>

    <h2>Λίστες Μουσικής</h2>
    <ul>
        {% for playlist in playlists %}
        <li>
            <a href="/playlist/{{ playlist.id }}">{{ playlist.name }}</a>
        </li>
        {% endfor %}
    </ul>
</body>
</html>
