<!DOCTYPE html>
<html>
<head>
    <title>{{ playlist.name }}</title>
</head>
<body>
    <h1>{{ playlist.name }}</h1>

    <form action="/search/{{ playlist.id }}" method="post">
        Αναζήτηση στο Spotify: <input type="text" name="query" placeholder="Αναζήτηση τραγουδιού" value="{{ query }}">
        <button type="submit">Αναζήτηση</button>
    </form>

    {% if search_results %}
    <h2>Αποτελέσματα Αναζήτησης</h2>
    <ul>
        {% for song in search_results %}
        <li>
            {{ song.title }} - {{ song.artist }}
            <form action="/add/{{ playlist.id }}" method="post">
                <input type="hidden" name="title" value="{{ song.title }}">
                <input type="hidden" name="artist" value="{{ song.artist }}">
                <input type="hidden" name="query" value="{{ query }}">  <!-- Κρυφό πεδίο για το query -->
                <button type="submit">Προσθήκη στη Λίστα</button>
            </form>
        </li>
        {% endfor %}
    </ul>
    {% endif %}

    <h2>Λίστα Τραγουδιών</h2>
    <ul>
        {% for song in songs %}
        <li>
            {{ song.title }} - {{ song.artist }}
            <a href="/delete/{{ song.id }}">Διαγραφή</a>
        </li>
        {% endfor %}
    </ul>
</body>
</html>
